*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
.information{
    background-color: #66E3DB;
    min-height: 120px;
    padding: 20px;
}
.calculator{
    background-color: #51C3BC;
    padding: 20px;
}
.dataForm__data{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dataForm__title{
    
}
.dataForm__input{
    width: 80%;
    height: 20px;
    border: none;
    border-radius: 5px;
}
.btn{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #66E3DB;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}