*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #51C3BC;
}
.siteTitle{
    background-color: #fff;
    margin: 0;
    padding: 20px;
}
.information{
    background-color: #66E3DB;
    min-height: 120px;
    padding: 20px;
}
.calculator{
    background-color: #51C3BC;
    padding: 20px;
}
.calculator__btn{
    margin: 15px 20px 0 0;
}
.dataForm{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
}
.dataForm__data{
    margin-bottom: 20px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}
.dataForm__title{
    width: 100%;
    margin-bottom: 5px;
}
.dataForm__input{
    width: 80%;
    height: 25px;
    border: none;
    border-radius: 5px;
}
.btn{
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #66E3DB;
}

/*MEDIA*/

@media (min-width: 610px) {
    .dataForm {
        width: 65%;
    }
}

@media (min-width: 720px) {
    .dataForm {
        width: 55%;
    }
}

@media (min-width: 1024px) {
    .dataForm {
        width: 35%;
    }
}